<div class="promo-banner" [ngStyle]="{'background-image': 'url(' + promoData.backgroundImage + ')'}">
  <div class="promo-overlay"></div>
  <div class="container">
    <div class="promo-content">
      <span class="promo-subtitle">{{promoData.subtitle}}</span>
      <h2 class="promo-title">{{promoData.title}}</h2>
      <p class="promo-description">{{promoData.description}}</p>
      <a [routerLink]="promoData.buttonLink" mat-raised-button color="accent" class="promo-button">
        {{promoData.buttonText}}
      </a>
    </div>
  </div>
</div>
