<div class="product-grid-container" [class.list-view]="viewMode === 'list'">
  <ng-container *ngIf="products && products.length > 0; else noProducts">
    <div class="product-item" *ngFor="let product of products">
      <app-product-card
        [product]="product"
        (addToCart)="onAddToCart($event)"
        (addToWishlist)="onAddToWishlist($event)"
        (viewDetails)="onViewDetails($event)">
      </app-product-card>
    </div>
  </ng-container>
  
  <ng-template #noProducts>
    <div class="no-products">
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
      <h3>No Products Found</h3>
      <p>We couldn't find any products matching your criteria.</p>
    </div>
  </ng-template>
</div>
