<mat-card appearance="outlined" class="stat-card">
  <mat-card-content>
    <div class="stat-card-content">
      <div class="stat-info">
        <div class="stat-title">{{ title }}</div>
        <div class="stat-value">{{ value }}</div>
        <div class="stat-change" [class.increase]="increase" [class.decrease]="!increase" *ngIf="percentage">
          <mat-icon class="trend-icon">{{ increase ? 'trending_up' : 'trending_down' }}</mat-icon>
          <span>{{ percentage }}%</span>
        </div>
      </div>
      
      <div class="stat-icon" [ngClass]="'stat-icon-' + color">
        <mat-icon>{{ icon }}</mat-icon>
      </div>
    </div>
  </mat-card-content>
</mat-card>
