.chart-card {
  height: 100%;
}

.chart-container {
  position: relative;
  height: 300px;
  width: 100%;
}

.spacer {
  flex: 1;
}

mat-card-header {
  display: flex;
  align-items: center;
}

mat-card-title {
  margin-bottom: 8px;
}

::ng-deep .dark-theme .chart-card canvas {
  filter: invert(0.8) hue-rotate(180deg);
}
