<div class="featured-products">
  <div class="featured-header">
    <h2 class="featured-title">{{ title }}</h2>
    <a *ngIf="showViewAll" [routerLink]="viewAllLink" class="view-all-link">
      View All <mat-icon>chevron_right</mat-icon>
    </a>
  </div>
  
  <div class="products-grid">
    <ng-container *ngIf="(products$ | async) as products">
      <div *ngIf="products.length > 0; else noProducts" class="products-container">
        <div *ngFor="let product of products" class="product-card-wrapper">
          <app-product-card 
            [product]="product"
            (addToCart)="onAddToCart($event)"
            (addToWishlist)="onAddToWishlist($event)"
            (viewDetails)="onViewDetails($event)">
          </app-product-card>
        </div>
      </div>
      
      <ng-template #noProducts>
        <div class="no-products-message">
          <mat-icon>info</mat-icon>
          <p>No featured products available at the moment.</p>
        </div>
      </ng-template>
    </ng-container>
    
    <!-- Loading State -->
    <div *ngIf="loading$ | async" class="loading-container">
      <app-loading-spinner [diameter]="40"></app-loading-spinner>
    </div>
  </div>
</div>
