<div class="featured-products">
  <div class="featured-header">
    <h2 class="featured-title">{{ title }}</h2>
    <a *ngIf="showViewAll" [routerLink]="viewAllLink" class="view-all-link">
      View All <mat-icon>chevron_right</mat-icon>
    </a>
  </div>
  
  <div class="products-grid">
    <div *ngIf="products && products.length > 0; else noProducts" 
         [ngClass]="{'product-grid': layout === 'grid', 'product-carousel': layout === 'carousel'}">
      <app-product-card 
        *ngFor="let product of products; trackBy: trackByProductId"
        [product]="product"
        [showNewBadge]="true"
        [showFeaturedBadge]="true"
        [showRating]="true"
        [showShortDescription]="false"
        [showBuyNowButton]="true"
        [showQuantityControl]="false" 
        (productAddedToCart)="onAddToCart($event)"
        (productAddedToWishlist)="onAddToWishlist($event)"
        (productViewed)="onViewDetails($event)">
      </app-product-card>
    </div>
    
    <ng-template #noProducts>
      <div class="no-products-message">
        <p>No featured products available at the moment. Check back soon!</p>
      </div>
    </ng-template>
  </div>
</div>
